{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <!--header-->
    <header>

        <div class="header">

            <div class="container">

                <div class="row">

                    <article class="span12">

                        {{widget('navigation', 'navigation', {'align': 'left'})|raw}}
                        {{widget('space', 'space', {'height': '50'})|raw}}

                        {{widget('logo', 'name', {"defaultlogo": asset('images/logo.png')})|raw}}

                        {{widget('responsiveslideshow', 'responsiveslideshow', {'duration':'3', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': true, 'allowPause': true, 'allowLoop': true, 'images':[{'imageHeight':'526', 'imageWidth':'1500', 'url':'http://placehold.it/526x1500', 'title':'test title', 'description': 'test desc'},{'imageHeight':'526', 'imageWidth':'1500', 'url':'http://placehold.it/526x1500', 'title':'test title', 'description': 'test desc'},{'imageHeight':'526', 'imageWidth':'1500', 'url':'http://placehold.it/526x1500', 'title':'test title', 'description': 'test desc'},{'imageHeight':'526', 'imageWidth':'1500', 'url':'http://placehold.it/526x1500', 'title':'test title', 'description': 'test desc'}]})|raw}}

                        {{widget('space', 'space', {'height': '70'})|raw}}

                    </article>

                </div>

            </div>

        </div>

    </header>

    <!--content-->
    <div class="global">

        <div class="container">

            <div class="row">

                <section class="span12">

                    {{zone('main')|raw}}
                    
                    {{widget('space', 'space', {'height': '30'})|raw}}

                    {{widget('content', 'content', {content: '<h2>today is best</h2>', lines: 'all'})|raw}}
                    {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}

                    <div class="row">

                        <article class="span3">

                            <ul class="menu">

                                <li>

                                    {{widget('image', 'price-image1', { 'src': asset('images/page1-img1.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price1', {content: '<strong class="price">42.05</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name1', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text1', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image5', { 'src': asset('images/page1-img5.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price5', {content: '<strong class="price">24.95</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name5', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text5', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image9', { 'src': asset('images/page1-img9.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price9', {content: '<strong class="price">9.45</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name9', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text9', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                            </ul>

                        </article>

                        <article class="span3">

                            <ul class="menu">

                                <li>

                                    {{widget('image', 'price-image2', { 'src': asset('images/page1-img2.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price2', {content: '<strong class="price">6.05</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name2', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text2', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image6', { 'src': asset('images/page1-img6.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price6', {content: '<strong class="price">42.45</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name6', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text6', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image10', { 'src': asset('images/page1-img10.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price10', {content: '<strong class="price">25.05</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name10', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text10', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                            </ul>

                        </article>

                        <article class="span3">

                            <ul class="menu">

                                <li>

                                    {{widget('image', 'price-image3', { 'src': asset('images/page1-img3.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price3', {content: '<strong class="price">26.45</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name3', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text3', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image7', { 'src': asset('images/page1-img7.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price7', {content: '<strong class="price">5.85</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name7', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text7', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image11', { 'src': asset('images/page1-img11.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price11', {content: '<strong class="price">7.95</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name11', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text11', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                            </ul>

                        </article>

                        <article class="span3">

                            <ul class="menu">

                                <li>

                                    {{widget('image', 'price-image4', { 'src': asset('images/page1-img4.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price4', {content: '<strong class="price">42.05</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name4', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text4', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image8', { 'src': asset('images/page1-img8.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price8', {content: '<strong class="price">26.95</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name8', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text8', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                                <li>

                                    {{widget('image', 'price-image12', { 'src': asset('images/page1-img12.jpg'), 'imageWidth': '768px'})|raw}}

                                    <div class="overflow">

                                        {{widget('content', 'price12', {content: '<strong class="price">23.05</strong>', lines: 'all'})|raw}}
                                        {{widget('content', 'name12', {content: '<h3>Lorem ipsum</h3>', lines: 'all'})|raw}}
                                        {{widget('content', 'text12', {content: 'Gravida atcur ecuuse orci ', lines: 'all'})|raw}}

                                    </div>

                                </li>

                            </ul>

                        </article>

                    </div>

                    {{widget('button', 'menu-button', {italic: false, text:'view full list', 'align':'widget-align-center'})|raw}}

                    {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                    
                    {{widget('space', 'space', {'height': '30'})|raw}}

                    <div class="row">

                        <article class="span3">

                            {{widget('content', 'footer-title1', {content: '<h3>what`s new</h3>', lines: 'all'})|raw}}
                            {{widget('content', 'date1', {content: '<h5>21 june, 2013</h5>', lines: 'all'})|raw}}
                            {{widget('content', 'footer-text1', {content: '<p>et trices posuere cubilia Suspensse sol licitudin velit sed leo pharetra augue nec augue. Nam elit magnan rerit sit amet tincidu.</p>', lines: 'all'})|raw}}
                            {{widget('content', 'date2', {content: '<h5>21 june, 2013</h5>', lines: 'all'})|raw}}
                            {{widget('content', 'footer-text2', {content: '<p>rta diam eu massa. Quisque diam lorem interdum vitaapibus ac scelerisque vitae pedeDonec eget tellus non er at lacinia fermentum.</p>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span3">

                            {{widget('content', 'footer-title2', {content: '<h3>about us</h3>', lines: 'all'})|raw}}
                            {{widget('content', 'content-title1', {content: '<h5>Nulla facilisi. Aenean nec eros. Ves</h5>', lines: 'all'})|raw}}
                            {{widget('content', 'footer-text3', {content: '<p>ante ipsum primis in faucibus orci luctus et trices posuere cubilia Suspendisse sol licitudin velit sed leo pharetra augue nec augue. Nam elit magnan rerit sit amet tincidu.</p>', lines: 'all'})|raw}}
                            {{widget('content', 'footer-text4', {content: '<p>nt ac viverra sed nulla. Donec po.</p>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span3">

                            {{widget('content', 'footer-title3', {content: '<h3>menu</h3>', lines: 'all'})|raw}}

                            <ul class="list">

                                <li>{{widget('content', 'link1', {content: '<a href="#">ltricpharetra gnonec accu</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link2', {content: '<a href="#">san malsuada oc set ero</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link3', {content: '<a href="#">Lorem ipsum dolor sit at</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link4', {content: '<a href="#">constuer aiing elit Mauris ferme</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link5', {content: '<a href="#">ntum tummagna</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link6', {content: '<a href="#">ed laoreet aliquam leo</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link7', {content: '<a href="#">Ut te doloibus</a>', lines: 'all'})|raw}}</li>
                                <li>{{widget('content', 'link8', {content: '<a href="#">eget elentu vel cursus elei</a>', lines: 'all'})|raw}}</li>

                            </ul>

                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span3">

                            {{widget('content', 'footer-title4', {content: '<h3>follow us</h3>', lines: 'all'})|raw}}
                            {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                    </div>

                </section>

            </div>

        </div>

    </div>

    <!--footer-->
    <footer>

        <div class="container">

            <div class="row">

                <article class="span12">

                    {{widget('companyname', 'companyname', {"business": "Steak"})|raw}}
                    {{widget('profile', 'copyright', { 'profileType':'copyright' })|raw}}
                    {{widget('space', 'space', {'height': '30'})|raw}}

                </article>

            </div>

        </div>

    </footer>
    
</div>

{% endblock %}